<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ app.config_core.sitename|default('Log into your back office') }}</title>

    <link rel="stylesheet" href="{{ asset('bundles/bigfootcore/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bigfootcore/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bigfootcore/css/jqtree.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/bigfootcore/css/screen.css') }}" />
</head>
<body>
<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
                <h2>Login</h2>
                <form action="{{ path('admin_login_check') }}" method="post">
                    <fieldset>
                        {% if error %}
                            <div>{{ error.message }}</div>
                        {% endif %}
                        <div class="clearfix">
                            <input type="text" name="_username" value="{{ last_username }}" placeholder="Username">
                        </div>
                        <div class="clearfix">
                            <input type="password" name="_password" value="" placeholder="Password">
                        </div>
                        <button class="btn primary" type="submit">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>