{% extends bigfoot_theme_bundle ~ ':user:form.html.twig' %}

{% block form %}
    <div id="reset-box" class="visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="icon-coffee green"></i>
                    {{ 'Reset your password'|trans }}
                </h4>

                <div class="space-6"></div>

                {{ form_start(form, {'method': 'POST', 'action': path('admin_reset_password', { 'confirmationToken': confirmationToken }), 'attr' : {'class' : 'form-horizontal'}}) }}
                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                {{ form_widget(form.plainPassword.first, { attr: { class: 'form-control', placeholder: 'Password'|trans }}) }}
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                {{ form_widget(form.plainPassword.second, { attr: { class: 'form-control', placeholder: 'Confirm password'|trans }}) }}
                                <i class="icon-lock"></i>
                            </span>
                        </label>

                        <div class="space"></div>

                        <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                {#<i class="icon-key"></i>#}
                                {{ 'Reset'|trans }}
                            </button>
                        </div>

                        <div class="space-4"></div>
                    </fieldset>

                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
